/**
HTML DEFAULT
**/

body{
  width: 100%;
  padding: 0;
  margin: 0;
}

canvas{
  background-color: #EEE;
  width: 100%;
  height: auto;
}

pre {
    font-size: 80%;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    max-height: 90vh;
}

/**
BOOTSTRAP OVERRIDES
**/
.col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9,
.col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5,
.col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1{
  padding-left: 5px;
  padding-right: 5px;
}

.popover{
    max-width: 20%; /* Max Width of the popover (depending on the container!) */
}

.navbar{
  width: 100%;
  border-radius: 0px;
}

.panel{
  border-radius: 0;
  margin-bottom: 0;
}

.panel-body{
  padding: 5px;
}

/**
CUSTOM CLASSES
**/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.topRow{
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.tight{
  padding: 0px;
  margin: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.matchMark{
  opacity: 0.5;
  color: #C00;
  font-weight: bold;
  cursor: pointer;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.selectedSpan{
  background-color: rgba(200, 0, 0, 0.3);
}

.matchMark.selected{
  opacity: 1.0;
}

/**
ID's
**/
#progressBar{
  transition-duration:50ms;
}

#legendDiv{
  transform-origin: top left;
  -webkit-transform: rotate(270deg) translate(5px, -20px);
  -ms-transform: rotate(270deg) translate(5px, -20px);
  transform: rotate(270deg) translate(5px, -20px);
}

#resultTable{
  font-size: 80%;
}

#mousePointer{
  width: 7px;
  height: 7px;
  border: 2px solid white;
  position: absolute;
  margin: 0;
  padding: 0;
  -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}