
.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.textInfo{
  font-size: 12px;
}

.text-holder rect{
  fill: none;
  stroke: rgb(88, 88, 88);
}

.node-holder rect{
  stroke: none;
  fill: rgba(145, 48, 48, 0.59);
}

.node-holder rect.selected{
  fill: rgb(255, 0, 0);
}

.link-holder path{
  fill: none;
  stroke: rgba(114, 114, 164, 0.77);
}

.link-holder path.selected{
  stroke: rgb(164, 25, 179);
}

.svg-canvas{
  width: 100%;
  height: auto;
}
